@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

*{
    font-family: 'Chonburi', cursive;
}

.nav-panel{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display:block;
    position:absolute;
    z-index: 1000000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
}

.nav-panel-scroll{
    transform: translateY(-60px);
    position:fixed;
    z-index: 10000;  
}
.nav-content-panel{
    z-index:100000;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
    display: flex;
    position:fixed;
    flex-direction: column;
    margin:0;
    padding:0;
    box-shadow:0 2px 2px -2px rgba(0,0,0,.15);
    transition: .5s;
    top:-40px;
    /* opacity: 0; */
    visibility: hidden;
}
.nav-content{
    width: 85%;
    height: 100%;
    display: flex;
    position:relative;
    flex-direction: column;
    margin:0 auto;


}
.nav-content-show{
    /* width: 85%;
    height: 40%;
    display: flex;
    flex-direction: column;
    margin:0 auto; */
    opacity: 1;
    transform: translateY(40px);
    visibility: visible;
}
.nav-logo{
    width: 85%;
    height:100%;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
.nav-logo-hide{
    width: 85%;
    height:60%;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}

.menu,.logo{
    height: 100%;
    margin: 0;
    padding: 0;
}
.logo a{
    font-family: 'Lobster', cursive;
    text-decoration: none;
    font-size: 2rem;
    color: #127A73;
    /* padding-left: 0.5rem; */
}
#Nackie{
    margin-right:2rem;
}
.logo-tab{
    margin:auto 0;
}
.menu,.logo{
    display: flex;
    flex-direction: row;
}
.menu li,.logo li{
    list-style: none;
    padding-top: 0.5rem;
    padding-left:0.75rem;
    padding-right: 0.75rem;
    
}
#barmen{
    padding-top:0.8rem;
}
#barmen a{
    font-family: 'Chonburi', cursive;

}
.menu-n a,.menu-ni a{
    display: inline-block;
    text-decoration: none;
    color: #127A73;
    font-size: 0.75rem;
}


.menu-n:hover{
    background-color: #e4e4e4;
}
/* #submen{
    margin-left: 1.5rem;
} */